[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/PunishXIV/PunishLib
[submodule "ECommons"]
	path = ECommons
	url = https://github.com/Taurenkey/ECommons
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/daemitus/ClickLib
